# --- Terragrunt / Terraform ---
.terragrunt-cache/
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# --- Secrets & Environment ---
*.tfvars
*.tfvars.json
.env
.env.*

# --- Python ---
__pycache__/
*.py[cod]
venv/
.venv/

# --- Logs & OS ---
*.log
.DS_Store